!!! 5
html(lang="en")
	head
		title PC Pong
		//[if lt IE 9]
			script(src='http://html5.shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/theme.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/sha256.js')
		script
						$(document).ready(function() {
							$("#successHandler").hide();
							$("#enterMatch").click(function() {
								$("#successHandler").hide();
								$.ajax({
									type: 'POST',
									url: '/m',
									data: {
										wuser: $('#wuser').val(),
										wpass: sha256_digest(sha256_digest($('#wpass').val())),
										luser: $('#luser').val(),
										lpass: sha256_digest(sha256_digest($('#lpass').val()))
									},
									success: function(res) {
										if(res.error) {
											$("#successHandler").attr("class", "alert-message error");
											$("#successHandler").find("p").text(res.message);
											$("#successHandler").show();
										} else {
										$("#successHandler").attr("class", "alert-message success");
										$("#successHandler").find("p").text(res.message);
										$("#successHandler").show();
										}
									},
									error: function(err) {
										$("#successHandler").attr("class", "alert-message error");
										$("#successHandler").find("p").text("Oops, looks like something went wrong! Please try again");
										$("#successHandler").show();
									}
								});
							});
						});
		script(src='/javascripts/tabs.js')
		script(src='/javascripts/dateformatter.js')
	body
		.container
			ul.pills.navi(data-pills="pills")
				li.active
					a(href='#rankings') Rankings
				li
					a(href='#matches') Matches
				li
					a(href='#newmatch') Enter Match
			.pill-content
				#rankings.active
					each user, i in users
						a(href= /u/ + user.username)
							.usr
								.rank= i+1
								.name= user.name
								.record #{user.wins}-#{user.losses}
					a(href="u/new")
						.usr.new
							.name Add User
				#matches 
					each match in matches
						.usr
							.match= match.winner + ' defeated ' + match.loser
							.record(data-date="#{match.date}")
				#newmatch.row
					h2(style="text-align: center") Enter a Match
					form#newUser
						.span8
							h3(style="text-align: center") Winner
							.clearfix
								label(for="wuser") Username
								.input
									input(type="text", name="wuser", id="wuser")
							.clearfix
								label(for="wpass") Password
								.input
									input(type="password", name="wpass", id="wpass")
						.span8
							h3(style="text-align: center") Loser
							.clearfix
								label(for="luser") Username
								.input
									input(type="text", id="luser", name="luser")
							.clearfix
								label(for="lpass") Password
								.input
									input(type="password", name="lpass", id="lpass")
					#successHandler
						p
					button(id="enterMatch", style="margin-left:20px;").btn.primary.large.disabled Enter Match
					br
					br
			footer
				p 
					| &copy; Haubey Apps 2011
		script
			$('.pills').pills();
			$("#matches").find(".record").each(function() {
				var d = $(this).attr("data-date");
				$(this).html(dateFormat(d, "m/d/yy"));
			});